html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 196px);
}

#footerElements {
    margin:0 auto;
    display:block;
}
