html, body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#map {
    width: 100%;
    /* view height, minus header bar height and room for buttons */
    height: calc(100vh - 56px);
}

#buttonFloat5 {
    position: absolute;
    right: 4px;
    bottom: 128px;
    z-index: 3;
}

#footerElements {
    margin:0 auto;
    display:block;
}

#buttonFloat4 {
    position: absolute;
    left: 12px;
    bottom: 24px;
    z-index: 3;
}

#buttonFloat3 {
    position: absolute;
    left: 12px;
    bottom: 88px;
    z-index: 3;
}

#buttonFloat2 {
    position: absolute;
    left: 12px;
    bottom: 152px;
    z-index: 3;
}

#buttonFloat1 {
    position: absolute;
    left: 12px;
    bottom: 216px;
    z-index: 3;
}

.demo-card-wide.mdl-card {
    width: 92%;
    display: block;
    margin: auto;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 100px;
    background: url('../images/cardImg01.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.float-right {
    float: right
}

.setCenter {
    text-align: center;
}

.logoStyle {
    width: 92%;
}
